@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300&display=swap');

body {
    font-family: 'Sora', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin-top: 50px;
}

h1 {
    color: #007bff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}

tbody tr:hover {
    background-color: #4CAF50;
    color: #fff; /* Mude para a cor verde desejada */
    cursor: pointer; /* Adiciona uma seta do mouse ao passar sobre as linhas da tabela */
}

/* Remova o efeito de escala da célula da cidade específica */
tbody tr:hover td:first-child {
    /* Remova as propriedades de transformação */
    font-weight: bold; /* Opcional: torna o texto mais destacado */
}

/* Responsividade */
@media (max-width: 768px) {
    table {
        overflow-x: auto;
        display: block;
    }

    th, td {
        white-space: nowrap;
    }
}
